{% extends "base.html" %}
{% block title %}Manage Staffs{% endblock %}
{% block content %}
<div class="container mt-5">
        <h2>Manage Staffs</h2>
        <a href="{{ url_for('admin.admin_dashboard') }}" class="btn btn-secondary btn-sm mb-3">Back</a>
        <a href="{{ url_for('admin.unapproved_staff') }}" class="btn btn-success btn-sm mb-3">Approve Staff</a>

        <form method="GET" action="{{url_for('admin.manage_staff')}}" class="row g-4 mb-4">
            <div class="col md-2">
                <input type="text" name="staff_id" class="form-control" placeholder="Search ID" value="{{ u_staff_id }}">
            </div>

            <div class="col md-3">
                <input type="text" name="name" class="form-control" placeholder="Search name" value="{{ u_name }}">
            </div>

            <div class="col md-2">
                <select name="status" class="form-select">
                    <option value="">Status</option>
                    {% for s in ['Active','Inactive'] %}
                        <option value="{{s}}" {% if u_status==s %}selected{% endif %}>{{s|capitalize}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-auto d-flex gap-2">
                <button type="submit" class="btn btn-primary">Filter</button>
                <a href="{{ url_for('admin.manage_staff') }}" class="btn btn-outline-secondary">Clear</a>
            </div>
        </form>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>Assigned Trek IDs</th>
                    <th>Unapprove Staff</th>
                </tr>
            </thead>
            <tbody>
                {% for staff in staffs %}
                <tr>
                    <td>{{staff.staff_id}}</td>
                    <td>{{staff.name}}</td>
                    <td>{{staff.email}}</td>
                    <td>{{staff.status.capitalize()}}</td>
                    <td>{{staff.trek_ids}}</td>
                    <td>
                        <form method="POST" action="{{ url_for('admin.unapprove_staff', staff_id=staff.staff_id) }}" style="display:inline">
                            <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Unapprove this staff?')">Unapprove</button>
                        </form>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
</div>
{% endblock %}
