{% extends "base.html" %}
{% block title %}Manage Users{% endblock %}
{% block content %}
<div class="container mt-5">
        <h2>Manage Users</h2>
        <a href="{{ url_for('admin.admin_dashboard') }}" class="btn btn-secondary btn-sm mb-3">Back</a>

        <form method="GET" action="{{url_for('admin.manage_users')}}" class="row g-4 mb-4">
            <div class="col md-2">
                <input type="text" name="user_id" class="form-control" placeholder="Search ID" value="{{ u_user_id }}">
            </div>

            <div class="col md-3">
                <input type="text" name="name" class="form-control" placeholder="Search name" value="{{ u_name }}">
            </div>

            <div class="col md-2">
                <select name="is_blacklisted" class="form-select">
                    <option value="">Is Blacklisted</option>
                    {% for bl in ['False','True'] %}
                        <option value="{{bl}}" {% if u_isblacklisted==bl %}selected{% endif %}>{{bl|capitalize}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-auto d-flex gap-2">
                <button type="submit" class="btn btn-primary">Filter</button>
                <a href="{{ url_for('admin.manage_users') }}" class="btn btn-outline-secondary">Clear</a>
            </div>
        </form>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Is_Blacklisted</th>
                    <th>Blacklist Trekker</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{user.user_id}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.is_blacklisted}}</td>
                    <td>
                        {% if user.is_blacklisted %}
                        <form method="POST" action="{{ url_for('admin.unblacklist_user', user_id=user.user_id) }}" style="display:inline">
                            <button type="submit" class="btn btn-success btn-sm">UnBlacklist</button>
                        </form>
                        {% else %}
                        <form method="POST" action="{{ url_for('admin.blacklist_user', user_id=user.user_id) }}" style="display:inline"
                            onsubmit="return confirm('Are you sure you want to blacklist this user?');">
                            <button type="submit" class="btn btn-danger btn-sm">Blacklist</button>
                        </form>
                        {% endif %}
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
</div>
{% endblock %}
