{% extends "base.html" %}
{% block title %}Staff Registration{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <h3 class="text-center mb-4">Staff Registration</h3>

            <form method="POST" action="/register/staff">
                <div class="mb-3">
                    <label class="form-label">Name</label>
                    <input type="text" name="name" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Phone No.</label>
                    <input type="text" name="phone_number" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input type="text" name="email" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" required>
                </div>

                <button type="submit" class="btn btn-primary w-100">Register</button>
            </form>

            <hr class="my-4">

            <div class="text-center">
                <p class="mb-3">Already a Staff?</p>
                <a href="/login" class="btn btn-outline-primary btn-sm me-2">Back to Login</a>
            </div>
        </div>

        <h3>Note: You would be able to login only after admin approves your registration</h3>

    </div>
</div>
{% endblock %}
