{% extends "base.html" %}
{% block title %}User Dashboard{% endblock %}
{% block content %}
<div class="container mt-5">
<h2 class = "text-center">User Dashboard</h2>
<p class="text-muted text-center">Welcome, {{current_user.name}}</p>
<a href="{{url_for('user.edit_profile', user_id=current_user.user_id)}}" class="btn btn-primary mb-3">Edit Profile</a>
<a href="{{ url_for('user.user_treks') }}" class="btn btn-secondary btn-sm mb-3">View Trekking History</a>
<a href="{{ url_for('user.booked_treks') }}" class="btn btn-success btn-sm mb-3">View Booked Treks</a>


<hr>
<div class="row g-3">
    <div class="col-md-11">
        <div class="card text-center p-3">
            <h6 class="text-muted">Available/Open Treks</h6>
            <hr>
            <form method="GET" action="{{ url_for('user.user_dashboard') }}" class="row g-4 mb-4">
                <div class="col-md-4">
                    <select name="difficulty" class="form-select">
                        <option value="">Select difficulty</option>
                        {% for diff in ['easy','moderate','hard'] %}
                            <option value="{{diff}}" {% if u_difficulty==diff %}selected{% endif %}>{{diff|capitalize}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-4">
                    <select name="location" class="form-select">
                        <option value="">Select location</option>
                        {% for loc in locations %}
                            <option value="{{loc}}" {% if u_location==loc %}selected{% endif %}>{{loc}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary">Filter</button>
                    <a href="{{ url_for('user.user_dashboard') }}" class="btn btn-outline-secondary">Clear</a>
                </div>
            </form>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Location</th>
                        <th>Difficulty</th>
                        <th>Slots</th>
                        <th>Detail</th>
                        <th>Booking</th>
                    </tr>
                </thead>
                <tbody>
                    {% for trek in treks %}
                    <tr>
                        <td>{{ trek.trek_id }}</td>
                        <td>{{ trek.trek_name }}</td>
                        <td>{{ trek.location }}</td>
                        <td>{{ trek.difficulty | capitalize }}</td>
                        <td>{{ trek.available_slots }}</td>
                        <td><a href="{{ url_for('user.trek_detail', trek_id=trek.trek_id) }}" class="btn btn-info btn-sm">View in detail</a></td>
                        <td>
                            <form method="POST" action="{{ url_for('user.book_trek', trek_id=trek.trek_id) }}">
                                <button type="submit" class="btn btn-success btn-sm" onclick="return confirm('Are you sure you want to book this trek?')">Book Trek</button>
                            </form>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="6" class="text-muted text-center">No treks available/open.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<a href="{{url_for('auth.logout')}}" class="btn btn-danger" style="position: relative; left: 1200px; bottom: -50px;">Logout</a>
</div>
{% endblock %}
